img{
    width:200px;
    height:80px;
    margin: 4px 0px 4px 8px;
}
@media only screen and (min-width:414px) and (max-width:992px){
    img{
        width:300px;
    }
}
@media only screen and (min-width:1160px){
    img{
        width:300px;
    }
}
.nav-link {
    font-family: Times new Roman;
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}

.nav-link:hover {
    text-shadow: 2px 2px 2px black;
}

#form {
    margin-left: 50px;
    font-family: sans-serif;
}
#form:hover {
    text-shadow: 0px 0px 0px black;
}
/* WHAT WE DO */

#about {
    background-color: #f4f4f4;
    padding: 61px 0px;
}

#about .section-heading {
    margin-bottom: 58px;
}

.section-heading h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #121212;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #121212;
    margin: 0 auto;
}

.service-item {
    cursor: pointer;
    background-color: #fff;
    text-align: center;
    padding: 30px 14px;
    transition: all 0.7s;
    margin-top: 45px;
    box-shadow: 0px 0px 15px #cdcdcd;
}

.service-item h2 {
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.first-service h4 {
    text-align: center;
}

.first-service p {
    padding: 10px 10px 2px 10px;
    font-size: 16px;
}

.first-service img {
    margin-top: -5px;
    margin-left: 0px;
    height: 209px;
    width: 470px;
    display: inline-block;
}
.second-service h4 {
    text-align: center;
}

.second-service p {
    padding: 10px 10px 1px 10px;
    font-size: 16px;
}

.second-service img {
    margin-top: -5px;
    margin-left: 0px;
    height: 210px;
    width: 477px;
    display: inline-block;
}

.third-service h4 {
    text-align: center;
}

.third-service p {
    padding: 10px 10px 0px 10px;
    font-size: 16px;
}

.third-service img {
    margin-top: -5px;
    margin-left: 0px;
    height: 211px;
    width: 482px;
    display: inline-block;
}

/* HERO SLIDER */

.slide-caption {
    color: #fff;
}

.slide-caption span {
    font-size: 14px;
    text-transform: uppercase;
}

.slide-caption h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
}

.slide-caption p {
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 24px;
}

ul.cd-hero-slider {
    margin-bottom: 0px!important;
}

@media (max-width: 1015px){
    .slide-caption .content-caption p {
        padding: 0 10%;
    }
    .service-item {
        height:390px;
        margin-bottom: 30px;
    }
    #what-we-do .right-image {
        margin-top: 60px;
    }
    #blog .pop {
        top: 15%;
        height: 80%;
        overflow-y: scroll;
    }
    .fact-item {
        margin-bottom: 15px;
    }
    .map {
        margin-bottom: 45px;
    }
}

@media (min-width: 1015px){
    .service-item {
        height:386px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width:994px){
    .first-service p {
        padding: 10px 10px -6px 10px;
        font-size: 16px;
    }
    .second-service p {
        padding: 10px 10px -1px 10px;
        font-size: 16px;
    }
    .third-service p {
        padding: 10px 10px 10px 10px;
        font-size: 16px;
    }
}